{{#if plaidCompleted}}
  <div id="target">
<<<<<<< HEAD
  <!-- {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}} -->
    <center><p class="signin" {{action 'callApi' users}}>Sign in</p></center>
    <button {{action 'callApi' users}}>Call</button>
=======
  {{#plaid-link action='processPlaidToken'}}Verify Bank Account{{/plaid-link}}
<!-- <button {{action 'callApi' users}}>Call</button> -->
    <center><p class="signin" {{action 'callApi' users}}>Sign in</p></center>

>>>>>>> 99b7c063b9cd51ae189224fffbb1f215d71a0835

  </div>
{{else}}

<div>
</div>

{{/if}}
